body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-flex {
    display: flex;
    align-items: center;
    margin: 36px;
}

.d-flex img {
    width: 64px;
}

h1 {
    margin-left: 16px;
}

.player-panel {
    display: flex;
    flex-direction: row;
}

.active-player {
    opacity: 0.5;
}

.winner-line {
    width: 340px;
    height: 15px;
    background-color: rgba(226, 43, 68, 0.9);
    position: absolute;
    z-index: 5;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.vertikal-line {
    transform: rotate(90deg) scaleX(0.0);
    z-index: 5;
}

.diagonal1-line {
    transform: rotate(45deg) scaleX(0.0);
    width: 450px;
    z-index: 5;
}

.diagonal2-line {
    transform: rotate(135deg) scaleX(0.0);
    width: 450px;
    z-index: 5;
}

table {
    border-collapse: collapse;
}

.table-center {
    position: relative;
}

tr {
    width: 399px;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid black; 
}

td:hover {
    cursor: pointer;
    background-color: rgba(86, 243, 243, 0.1);
}

tr:first-child td {
    border-top: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:first-child {
    border-left: 0;
}

tr td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 26px;
    left: 26px;
}

.d-none {
    display: none;
}

.finishedGame {
    pointer-events: none;
}

.restartContainer {
    margin-top: 64px;
}

.winner-field {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 20%;
    background-color: rgba(0,0,0, 0.9);
    color: white;
    text-align: center;
    z-index: 10;
}

.winner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.winner-box span {
    font-size: 120px;
    font-weight: bold;
}